
__pycache__/
*.py[cod]
dist/
build/
.venv/
venv/

.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfplan
.build/
.terraformrc
terraform.rc


.vscode/
.idea/
*.swp
*.swo
*~


.DS_Store
Thumbs.db
desktop.ini

*.log

.env
*.pem
*.key

lambda/lambda.zip
